
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;700&display=swap');

html {scroll-behavior:smooth;}
body {background:#fff; color:#585858; font-family: 'Open Sans', sans-serif; font-size:16px; font-weight:400; line-height:1.6;}

.Bor:after {border-top:1px solid #425b4a; content:"";display:block; margin:0px auto 0px auto; padding-bottom:0px; width:100%;}

.font-playfair {font-family: 'Playfair Display', serif;}
.font-open {font-family: 'Open Sans', sans-serif;}
.font-lato {font-family: 'Lato', sans-serif;}
	
*, *:focus {outline:none !important; transition:all 0.3s ease 0s;}

a {text-decoration:none !important; color:#585858;} a:hover{color:#e1db9a;}
p{margin-bottom:20px;} .nomrgn{margin:0px !important;}

.breadcrumb{color:#818181; margin:0px; background-color:transparent;padding:0 0 15px; font-size:12px; border-bottom:solid 1px #dddddd;}
.breadcrumb>li+li:before{content:"\27A4";color:#818181; margin:0 10px;}
.breadcrumb a{color:#487201;}

/******* Helpers ********************************************************************/
.ImgFade{background-color:#000;}
.ImgFade img{opacity: 0.6; filter: alpha(opacity=60); /* For IE8 and earlier */}

hr{background-color:#41362d;}

/***************************/
.btn{moz-transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in;text-decoration:none !important; font-weight:400; font-size:14px; padding:20px 60px; font-family: 'Lato', sans-serif; vertical-align:top; border-radius:6px; text-transform:uppercase; box-shadow:none !important;}


.btn-success{border-color:#425b4a; color:#fff !important;  background-color: #425b4a;} 
.btn-success:hover,.btn-success.focus,.btn-success:focus{background-color: #552e1e; border-color:#552e1e;color:#fff !important;}


.btn-warning{border-color:#6a5e24; color:#fff !important;  background-color: #6a5e24;} 
.btn-warning:hover,.btn-warning.focus,.btn-warning:focus{background-color: #552e1e; border-color:#552e1e;color:#fff !important;}


.btn-danger{border-color:#552e1e; color:#fff !important;  background-color: #552e1e;} 
.btn-danger:hover,.btn-danger.focus,.btn-danger:focus{background-color: #6a5e24; border-color:#6a5e24;color:#fff !important;}

.btn.btn-sm{padding: 12px 35px;}
.btn.btn-lg{padding: 15px 55px;}

/*****************************/
.fw-normal{font-weight:400 !important;}
.fw-semi{font-weight:600 !important;}
.fw-bold{font-weight:700 !important;}

.fs-80{font-size:80px !important;}
.fs-25{font-size:25px !important;}
.fs-45{font-size:45px !important;}
.fs-35{font-size:35px !important;}
.fs-21{font-size:21px !important;}

.lh-1{line-height:1 !important;}
.lh-13{line-height:1.3 !important;}

.ls-2{letter-spacing:-.020em !important;}
.ls-3{letter-spacing:-.030em !important;}

.bg-light {background:#f0eedb !important;}
.bg-dark {background:#000 !important;}
/*****************************/
.text-success {color:#425b4a !important;} 
.text-secondary {color:#354247 !important;}
.text-dark {color:#141414 !important;}
/*****************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {}
h1, .h1 {font-size:50px;}
h2, .h2 {font-size:40px;}
h3, .h3 {font-size:33px;}
h4, .h4 {font-size:16px;}
h5, .h5 {font-size:12px;}

/*******************************************************************/
input.form-control,input.form-control:focus {font-size: 13px; height: calc(2.5em + 1.2rem + 2px); box-shadow:none;font-family: 'Source Sans Pro', sans-serif;}
select.form-control {font-size:13px; height:calc(1.5em + 1.2rem + 2px);}
textarea.form-control {font-size:13px; resize:none;}
textarea.form-control:not([rows]) {height:136px;}
.form-control::-moz-placeholder {color:#272727; opacity: 1;}

/**************************************************************/
.MainBanner .mask{position:absolute; top:0px; right:0%; left:0%; z-index:99; background:url(../images/bnr_shadow.png) repeat-x top; min-height:100%;}
.MainBanner .carousel-indicators {z-index:999; bottom:38px;}
.MainBanner .carousel-indicators li {background-color:#fff; opacity:1;border-radius:50%; width:7px; height:7px; margin:0px 6px;} 
.MainBanner .carousel-indicators .active {background-color:transparent !important;width:14px; height:14px; border:solid 1px #fff; margin-top:5px;}


/****************************************************************/
.Borderhd {line-height: 0.5;text-align: center;}
.Borderhd span {display: inline-block;position: relative;  }
.Borderhd span:before,.Borderhd span:after {content: "";position: absolute; border-bottom-color:#b8b8b8 !important; border-bottom:double; border-width:4px; top:8px;width:50%;}
.Borderhd span:before {right: 100%;margin-right:45px;}
.Borderhd span:after {left: 100%;margin-left:45px;}


/***********************************************************************/
ul.orange li {color: #3c3c3c;list-style: none;position: relative;}
ul.orange li::before {color: #f69322; content: "\2022"; font-size:1.5em; position: absolute; top: -8px; left: -20px;}

/********** Back To Top Button ***************************************************************************************************/
#scroll {position:fixed; right:10px; bottom:10px; z-index:99999; cursor:pointer; width:45px; height:45px; text-align:center; line-height:43px; background:#6a5e24; color:#fff !important;}
#scroll:hover {opacity:.7;}